body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 30px;
}

.Orange-color {
    color: orange;
}

.divide {

    display: flex;
    padding-left: 25px;
    padding-bottom: 40px;
}

.pic {
    background-image: url("New Project (2).png");
    background-repeat: no-repeat;

}

.division {
    width: 50%;


}

.division img {
    width: 100%;
}

.button {
    text-decoration: none;
    background-image: linear-gradient(red, orange);
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
    font-weight: 400;
}

.new-button {
    text-decoration: none;
    background-image: linear-gradient(red, orange);
    padding: 10px 40px;
    border-radius: 20px;
}

.two {
    padding-top: 80px;
}

.back {
    background-image: url("New Project (1).png");
    background-repeat: no-repeat;
    background-position: right;
}

#ex {
    padding-left: 40px;

}

.three {
    width: 50%;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 18px;
    box-shadow: 10px 10px 40px;
    margin: 20px;

}

#bcolor {
    border-left: 7px solid;
    border-image: linear-gradient(blue, cyan);
    border-image-slice: 1;
    border-radius: 5px;
}

#ccolor {
    border-left: 7px solid;
    border-image: linear-gradient(rgb(17, 90, 8), rgb(193, 233, 34));
    border-image-slice: 1;
    border-radius: 5px;
}